Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
GitHelloWorld/GitHelloWorld.vcxproj.filters
GitVS2010.opensdf
GitVS2010.sdf
GitVS2010.sln
GitHelloWorld/GitHelloWorld.vcxproj
GitHelloWorld/res/menuimages_hc.bmp
GitHelloWorld/res/Toolbar.bmp
GitHelloWorld/res/menuimages.bmp
GitHelloWorld/res/class_view.ico
GitHelloWorld/res/class_view_hc.ico
GitHelloWorld/res/classview.bmp
GitHelloWorld/res/classview_hc.bmp
GitHelloWorld/res/explorer.bmp
GitHelloWorld/res/explorer_hc.bmp
GitHelloWorld/res/file_view.ico
GitHelloWorld/res/file_view_hc.ico
GitHelloWorld/res/fileview.bmp
GitHelloWorld/res/fileview_hc.bmp
GitHelloWorld/res/GitHelloWorld.ico
GitHelloWorld/res/GitHelloWorld.rc2
GitHelloWorld/res/GitHelloWorldDoc.ico
GitHelloWorld/res/output_wnd.ico
GitHelloWorld/res/output_wnd_hc.ico
GitHelloWorld/res/properties.bmp
GitHelloWorld/res/properties_hc.bmp
GitHelloWorld/res/properties_wnd.ico
GitHelloWorld/res/properties_wnd_hc.ico
GitHelloWorld/res/sort.bmp
GitHelloWorld/res/sort_hc.bmp
GitHelloWorld/res/Toolbar256.bmp
GitHelloWorld/UserImages.bmp
